DATA_ACCESS_LAYER/TeamCardsServices/.project
DATA_ACCESS_LAYER/TeamCardsServices/.classpath
DATA_ACCESS_LAYER/TeamCardsServices/.settings
DATA_ACCESS_LAYER/TeamCardsServices/target/*
DATA_ACCESS_LAYER/TeamCardsServices/ajcore.*
